* {
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  margin: 0 0;
  padding: 0 0;
}

.left-half {
  background-color: hsl(252, 100%, 67%);
  width: 25%;
  /* height: 40%; */
  /* border-radius: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.your-result {
  color: hsl(224, 30%, 27%);
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}

.score {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
}

.overall-score {
  font-size: 60px;
  color: hsl(0, 0%, 100%);
}

.score-container {
  padding: 20px 30px;
  background-color: hsl(241, 81%, 54%);
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-score {
  color: hsl(241, 100%, 89%);
}

.result-status {
  color: hsl(0, 0%, 100%);
  font-size: 25px;
  margin-bottom: 10px;
}

.result-description {
  color: hsl(241, 100%, 89%);
  width: 70%;
  margin-bottom: 30px;
}

.right-half {
  background-color: hsl(0, 0%, 100%);
  width: 25%;
  /* height: 40%; */
  box-shadow: 10px 10px 5px rgb(232, 231, 231);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 30px;
}

.summary {
  font-size: 20px;
}

.reaction-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 10px;
  border-radius: 5px;
  padding: 5px 7px;
}

.sub-container {
  display: flex;
}

.reaction-red {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.3);
}

.category {
  margin: 5px 50px 5px 5px;
}

.score {
  color: hsl(241, 100%, 89%);
  font-size: 18px;
}

.total-score {
  color: hsla(256, 72%, 46%, 1);
  font-weight: bold;
}

.reaction-yellow {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.3);
}

.reaction-green {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.3);
}

.reaction-blue {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.3);
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.continue {
  margin-top: 30px;
  margin-bottom: 17px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  padding: 10px 70px;
  border-radius: 25px;
  border: none;
  width: 80%;
  cursor: pointer;
}

.page-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .page-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 375px) {
  .left-half {
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .right-half {
    width: 100%;
    height: 50%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
}

@media (max-width: 375px) {
  .continue {
    margin-top: 0;
  }

  @media (max-width: 375px) {
    .reaction-blue {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 375px) {
    .result-description {
      padding-bottom: 100px;
    }
  }
}